<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<servlet>
		<servlet-name>aaa</servlet-name>
		<servlet-class>com.kenscio.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>aaa</servlet-name>
		<url-pattern> /Login </url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>bbb</servlet-name>
		<servlet-class>com.kenscio.Welcome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bbb</servlet-name>
		<url-pattern>/Welcome</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>ccc</servlet-name>
		<servlet-class>com.kenscio.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ccc</servlet-name>
		<url-pattern> /Register </url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
	<welcome-file>html/Welcome.html</welcome-file>
	</welcome-file-list>
	
	
	
	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>com.kenscio.Test</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>



</web-app>